body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1e53;
  height: 92px;
}
body nav .logo {
  margin: 0 160px;
}
body nav .navigations {
  display: flex;
  align-items: center;
  margin: 0 160px;
  gap: 40px;
}
body nav .navigations .home {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
body nav .navigations a {
  color: #bbbbcb;
  text-decoration: none;
  font-size: 16px;
}
body nav .navigations a:hover {
  color: #f0f0f0;
}
body nav .navigations button {
  width: 185px;
  height: 60px;
  border: 1px solid rgba(244, 246, 252, 0.2);
  color: white;
  background-color: #1c1e53;
  border-radius: 41px;
  cursor: pointer;
  transition: background-color 0.3s;
}
body .homehero {
  width: 100%;
  height: 760px;
  background-color: #1c1e53;
  display: flex;
  justify-content: center;
}
body .homehero .container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 126px;
}
body .homehero .container .texts h1 {
  font-size: 54px;
  color: white;
}
body .homehero .container .texts p {
  margin-top: 24px;
  color: white;
  font-size: 16px;
}
body .homehero .container .texts .btns {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
body .homehero .container .texts .btns .btn {
  background-color: #fcd980;
  border-radius: 41px;
  border: none;
  padding: 10px 20px;
  color: #1c1e53;
  width: 230px;
  height: 64px;
  font-size: 18px;
}
body .homehero .container .texts .btns .textbtn {
  border: none;
  background-color: #1c1e53;
  color: white;
}
body .homehero .container .homeimg img {
  margin-top: 80px;
}
body .ourwork {
  background-color: white;
  position: relative;
}
body .ourwork .heading {
  display: flex;
  justify-content: space-between;
  margin: 0 160px;
}
body .ourwork .heading h1 {
  color: #1c1e53;
  font-size: 48px;
}
body .ourwork .heading button {
  font-size: 16px;
  color: #1c1e53;
  border: none;
}
body .ourwork .container1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}
body .ourwork .container1 .content {
  margin: 0 160px;
  background-color: #1c1e53;
  width: 396px;
  height: 600px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
body .ourwork .container1 .content div h3 {
  font-size: 24px;
  color: white;
  margin: 0 35px 0 48px;
}
body .ourwork .container1 .content div p {
  font-size: 16px;
  color: white;
  margin: 16px 55px 0 48px;
}
body .ourwork .container1 .content div .textbtn2 {
  border: none;
  color: #fcd980;
  background-color: transparent;
  font-size: 16px;
  margin: 40px 208px 76px 48px;
}
body .ourwork .container1 .hoveroverlay {
  margin: 0 160px;
  background-color: #1c1e53;
  width: 405px;
  height: 284px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
body .ourwork .container1 .hoveroverlay h3 {
  font-size: 24px;
  color: white;
  margin: 129px 36px 0 56px;
}
body .ourwork .container1 .hoveroverlay button {
  border: none;
  color: #fcd980;
  background-color: transparent;
  font-size: 16px;
  margin: 10px 199px 45px 56px;
}
body .features {
  margin-top: 120px;
  background-color: #f4f6fc;
}
body .features .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 47px;
  color: #282938;
}
body .features .heading p {
  font-size: 16px;
}
body .features .heading h1 {
  margin-top: 12px;
  font-size: 48px;
}
body .features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}
body .features .container .card1 {
  margin-top: 42px;
}
body .features .container .card2 {
  margin-top: 42px;
}
body .features .container .card4 {
  margin-top: 24px;
}
body .features .container .card5 {
  margin-top: 24px;
}
body .features .container .card6 {
  margin-top: 63px;
}
body .testimonials {
  display: flex;
  justify-content: space-between;
  margin: 128px 160px 128px 160px;
}
body .testimonials .heading {
  gap: 60px;
}
body .testimonials .heading h3 {
  font-size: 38px;
  color: #282938;
}
body .testimonials .heading p {
  margin-top: 16px;
  color: #282938;
}
body .testimonials .content {
  display: flex;
  flex-direction: column;
}
body .testimonials .content h4 {
  font-size: 32px;
  color: #282938;
  margin-bottom: 48px;
}
body .testimonials .content div {
  display: flex;
  justify-content: space-between;
}
body .testimonials .content div .profile {
  display: flex;
  align-items: center;
  gap: 14px;
}
body .testimonials .content div .profile .img img {
  border-radius: 50px;
}
body .testimonials .content div .profile div {
  display: grid;
}
body .testimonials .content div .profile div .name {
  margin: 0px;
  font-size: 18px;
  color: #282938;
}
body .testimonials .content div .profile div p {
  margin: 0px;
  font-size: 12px;
  color: #282938;
}
body .testimonials .content div .arrows {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
body footer {
  background-color: #1c1e53;
}
body footer .content {
  display: flex;
  justify-content: start;
  gap: 260px;
  color: white;
  margin-left: 159px;
  padding-top: 103px;
}
body footer .content .container1 {
  margin-top: 40px;
}
body footer .content .container1 p {
  font-size: 16px;
}
body footer .content .container1 .contact {
  background-color: #fcd980;
  color: #282938;
  display: flex;
  justify-content: start;
  gap: 29px;
  margin-top: 86px;
  margin-bottom: 92px;
  width: 517px;
}
body footer .content .container1 .contact .info {
  padding-top: 17px;
  margin-left: 37px;
}
body footer .content .container1 .contact .info2 {
  padding-top: 17px;
}
body footer .content .container2 h2 {
  font-size: 48px;
}
body footer .content .container2 p {
  font-size: 16px;
  font-weight: 300;
}
body footer .content .container2 .media {
  gap: 26px;
  display: flex;
}
body footer .content .container2 .media a i {
  color: white;
}

/*# sourceMappingURL=main.css.map */
